.testimonial-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @include below-992{
        flex-wrap: wrap;
    }
        .testmonial-card{
            width: 80%;
            display: flex;
            border-radius: 20px;
            background-color: #022D36;
            padding: 15px;
            @include below-992{
                width: 100%;
                flex-wrap: wrap;
            }
            .img-wrap{
                width: 20%;
                    img{
                        width: 150px;
                        height: 150px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                @include below-992{
                    width: 100%;
                }
            }
                .content-wrap{
                    width: 80%;
                    @include below-992{
                        width: 100%;
                    }
                    h1{
                        text-align: left;
                        font-weight: 700;
                        margin-bottom: 0px;
                        font-size: 20px;
                        @include below-992{
                            text-align: center;
                        }
                    }
                    h2{
                        text-align: left;
                        font-weight:500;
                        margin-bottom: 0px;
                        font-size: 18px;
                        @include below-992{
                            text-align: center;
                        }
                    }
                    p{
                        font-size: 16px;
                        text-align: left;
                        font-weight: 300;
                        margin: 0;
                        @include below-992{
                            text-align: center;
                        }
                    }
                }
        }
}
.testimonial-h{
    text-align: center;
    font-size: 64px;
    color: #19232a !important;
    margin-bottom: 50px;
    @include below-567{
        font-size: 32px;
    }
}
.carousel-wrap{
    padding: 3rem 6rem;
	@include below-420 {
		padding: 1rem 2rem;
	}
}
.test-carousel{
        height: 360px;
        .carousel{
            height: 340px;
            .control-dots{
                bottom: -10px;
            }
        }
    
}