.calendly-wrap{
    background-image: url('../../public/images/book-call.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 50px;
        .calendly-h{
            text-align: center;
            font-size: 45px;
            color: #19232a !important;
        }
}